
h3{
    color: var(--globaldarkgray);
}
main h1{
    margin:0;
    margin-top: 70px;
}
.apricot_dumblings_pic {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.space_top{
    margin-top: 30px;
}

/* Info Style */
.recipe_info{
    display: flex;
    gap: 20px;
    

}
.recipe_infoitems{
    display: flex;
    background-color: var(--globallightgray);
    padding: 8px;
    border-radius: 15px;
    gap: 5px;
    
}

.recipe_infoitems img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
/* Calculator */
.form_calculation{
    margin-top: 70px;
}

.vertical_table_space{
    padding-left: 100px;
}
/* Table style */
table{
    text-align: left;
} 
table td{
    border-bottom: 1px solid var(--globallightgray);
}

/* creator style  */
.autor{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom:70px;
}

.autor img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.autor span{
    color: var(--globaldarkgray);
    font-size: 24px;
}

@media (max-width: 440px) {
    
    main h1 {
        font-size: 20px;
    }
    .recipe_infos{
        display: flex;
        justify-content: center;
    } 
    .recipe_info {
        
        flex-direction: column;
        /* padding-bottom: 50px; */
        width: 120px;
    }
}