h1, h2 {
    margin: 0px;
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 30px;
}

.recipe {
    display: flex;
    flex-direction: column;
}

    .recipe_img {
        width: 100%;
        height: 300px;
        border-radius: 50%;
        border-radius: 10px;
        object-fit: cover;
    }

    /* Infoboxes */
    .recipe_infos {
        display: flex;
        gap: 20px;
        padding-bottom: 70px;
    }

    .recipe_infoitems {
        display: flex;

        cursor: default;
        padding: 8px;
        gap: 5px;
        background-color: var(--globallightgray);
        border-radius: 15px;
        white-space: nowrap;
    }

    .recipe_infoitems img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    /* Portion-Table */
    .portions {
        display: flex;
        flex-direction: column;
        
        gap: 30px;
    }
        .portions form {
            display: flex;
            align-items: center;
            gap: 12px;
        }
        
        .portions form label {
            font-size: 20px;
            font-weight: bold;
        }

        .portions form input {
            min-width: 100px;
            height: 20px;
        }

        table{
            border-collapse: collapse;
            text-align: left;
        } 

            table td{
                border-bottom: 1px solid var(--globallightgray);
            }

            td:nth-child(odd) {
                padding-right: 20px;
                white-space: nowrap;
            }
            
/* Cooking */
.cooking {
    display: flex;
    flex-direction: column;
    gap: 10px ;
}

ol {
    margin: 0;
}

    ol li {
        white-space: wrap;
    }



/* Recipe-Author */
.profile {
    display: flex;
    align-items: center;

    padding-top: 10px;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}

    .profile img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }



@media (max-width: 620px) {
    
    main {
        gap: 20px;
    }
    
    
    
    .recipe_infos {
        justify-content: center;
        padding-bottom: 50px;
    }

}





@media (max-width: 440px) {
    
    main h1 {
        font-size: 20px;
    }

    .recipe {
        align-items: center;
    }

    .recipe_infos {
        flex-direction: column;

        padding-bottom: 50px;
        width: 120px;
    }



    /* Portionstable */
    .portions form {
        flex-direction: column;
        align-items: flex-start;
    }

        .portions form input {
            min-width: 150px;
        }



    /* Cooking */
    ol {
        padding-inline-start: 20px;
    }
}
