.ingredients_dumplings {
    display: flex;
    align-items: center;
    gap: 300px;
}

.apricot_dumblings_pic {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 5px solid var(--globaldarkgreen);
    object-fit: cover;
}

 table{
    
    border-collapse: collapse;
    text-align: left;
    border-spacing: 0px 8px;
    
} 
table td{
    border-bottom: 1px solid var(--globallightgray);
}
