.menue {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    grid-template-columns: 1fr, 1fr;
    height: 600px;
    width: 100%;
    background-color: var(--globalwhite); /*M:Farben in var geändert*/
}

.menue-left {
    width: 600px;
    height: 300px;
    border: 7px solid var(--globalgreen); /*M:Farben in var geändert*/
    border-radius: 7px;
}

.menue-right {
    max-width: 600px;
}


.Rezeptabteilung {
    text-align: center;
}

.Rezeptbox {
    display: flex;
    justify-content: space-evenly;
    padding-left: 135px;
    padding-bottom: 60px;
    border-radius: 7px;
}

.box1 {
    border: 7px solid var(--globalgreen); /*M:Farben in var geändert*/
    border-radius: 7px;
    width: 200px;
    height: 200px;
}

.descriptionbox {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    grid-template-columns: 1fr, 1fr;
    height: 600px;
    width: 100%;
    background-color: var(--globalwhite); /*M:Farben in var geändert*/

}

.dscimg-left {
    max-width: 600px;

}

.dscimg-right {
    width: 600px;
    height: 300px;
    border: 10px solid var(--globalgreen); /*M:Farben in var geändert*/
    border-radius: 7px;
}

.bottom {
    background-color: var(--globalgreen); /*M:Farben in var geändert*/
    height: 500px;
}
